# POSTTEST 2 

## Nama  : Muhammad Iffandi

## Nim   : 2209106006

## Kelas : Kecerdasan Buatan A1

In [1]:
import pandas as pd

### Berfungsi untuk import/memasukkan Library pandas di dalam program sebagai pd.

In [2]:
df = pd.read_csv("nintendo3ds.csv")

### pd.read_csv -> Berfungsi untuk membaca/menginport file csv menjadi sebuah data frame pandas.

In [3]:
df.select_dtypes(['int64', 'float64']).mean()

Unnamed: 0            839.500000
playtime                1.814286
rating                  0.894387
rating_top              0.998810
ratings_count          19.358929
reviews_text_count      0.161310
added                  80.692857
metacritic             76.514493
suggestions_count     186.547024
reviews_count          19.593452
yet                     4.476190
owned                  50.045238
beaten                 15.266071
toplay                  2.788690
dropped                 6.601786
playing                 1.514881
dtype: float64

### select_dtypes -> Berfungsi untuk memungkinkan kita menentukan tipe data dan memilih kolom yang cocok dengan tipe data yang kita tentukan.

### mean() -> Berfungsi untuk mencari/menghitung nilai rata-rata pada kolom numerik.

In [4]:
df.select_dtypes(['int64', 'float64']).std()

Unnamed: 0            485.118542
playtime               22.633050
rating                  1.634809
rating_top              1.763571
ratings_count          76.361521
reviews_text_count      0.640729
added                 354.225456
metacritic             12.068077
suggestions_count     152.401445
reviews_count          77.107983
yet                    18.089596
owned                 264.695616
beaten                 55.473736
toplay                  9.957982
dropped                28.524574
playing                11.054083
dtype: float64

### select_dtypes -> Berfungsi untuk memungkinkan kita menentukan tipe data dan memilih kolom yang cocok dengan tipe data yang kita tentukan.

### std() -> Berfungsi untuk memperoleh standar deviasi data frame.

In [5]:
df.select_dtypes(['int64', 'float64']).min()

Unnamed: 0             0.0
playtime               0.0
rating                 0.0
rating_top             0.0
ratings_count          0.0
reviews_text_count     0.0
added                  0.0
metacritic            22.0
suggestions_count      0.0
reviews_count          0.0
yet                    0.0
owned                  0.0
beaten                 0.0
toplay                 0.0
dropped                0.0
playing                0.0
dtype: float64

### select_dtypes -> Berfungsi untuk memungkinkan kita menentukan tipe data dan memilih kolom yang cocok dengan tipe data yang kita tentukan.

### min() -> Berfungsi untuk memperoleh nilai terendah dari suatu kolom numerik di dalam data framee.

In [6]:
df.select_dtypes(['int64', 'float64']).max()

Unnamed: 0            1679.00
playtime               900.00
rating                   4.78
rating_top               5.00
ratings_count         1384.00
reviews_text_count       8.00
added                 7304.00
metacritic              95.00
suggestions_count     1839.00
reviews_count         1395.00
yet                    285.00
owned                 5518.00
beaten                 689.00
toplay                 209.00
dropped                729.00
playing                382.00
dtype: float64

### select_dtypes -> Berfungsi untuk memungkinkan kita menentukan tipe data dan memilih kolom yang cocok dengan tipe data yang kita tentukan.

### max() -> Berfungsi untuk memperoleh nilai tertinggi dari suatu kolom numerik di dalam data frame.

In [7]:
df.quantile([0.25, 0.50, 0.75])

,Unnamed: 0,playtime,rating,rating_top,ratings_count,reviews_text_count,added,metacritic,suggestions_count,reviews_count,yet,owned,beaten,toplay,dropped,playing
0.25,419.75,0.0,0.0,0.0,0.0,0.0,0.0,72.0,75.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.50,839.50,0.0,0.0,0.0,0.0,0.0,2.0,80.0,153.00,0.0,0.0,1.0,0.0,0.0,0.0,0.0
0.75,1259.25,0.0,0.0,1.0,4.0,0.0,17.0,84.0,277.00,5.0,1.0,5.0,3.0,1.0,2.0,0.0

### quantile() -> Berfungsi untuk mencari nilai kuartil dari sebuah kolom numerik pada data frame

### 1. Q1 -> 0.25
### 2. Q2 -> 0.50
### 3. Q3 -> 0.75

In [8]:
df.select_dtypes(["int64","float64"]).head(10)

,Unnamed: 0,playtime,rating,rating_top,ratings_count,reviews_text_count,added,metacritic,suggestions_count,reviews_count,yet,owned,beaten,toplay,dropped,playing
0,0,12,4.00,4,1384,6,7304,81.0,367,1395,237,5518,603,94,729,123
1,1,3,3.40,4,409,1,3640,80.0,586,410,265,3000,205,29,115,26
2,2,26,4.41,5,1339,8,3640,83.0,431,1359,38,2049,689,48,434,382
3,3,35,4.31,5,726,5,3297,86.0,248,732,74,2464,380,63,225,91
4,4,2,3.40,4,289,0,3194,70.0,517,289,285,2665,132,24,75,13
5,5,1,3.73,4,372,1,2832,81.0,218,374,107,2291,259,27,140,8
6,6,2,3.89,4,353,1,2705,77.0,464,356,129,2174,241,32,108,21
7,7,8,3.72,4,404,0,2630,77.0,638,405,203,1945,325,67,73,17
8,8,4,3.77,4,437,1,2598,76.0,484,439,135,1996,301,31,116,19
9,9,4,3.61,4,315,0,2532,75.0,332,317,107,2075,149,18,172,11

### select_dtypes -> Berfungsi untuk memungkinkan kita menentukan tipe data dan memilih kolom yang cocok dengan tipe data yang kita tentukan.

### head() -> Digunakan untuk menampilkan data awal atau data teratas pada dataframe, 10 disini berarti dia akan menampilkan 10 data awal pada dataframe.

In [9]:
len(df)

1680

### len() -> Berfungsi untuk menampilkan panjang baris dari dataframe.

In [10]:
len(df.columns)

21

### len() -> Berfungsi untuk menampilkan panjang baris dari dataframe.

### columns -> Berfungsi untuk melihat nama-nama kolom pada data frame, dalam kasus ini saya menggunakan columns untuk melihat panjang kolom pada dataframe saya.

In [11]:
Atribute = df.columns
df.columns

Index(['Unnamed: 0', 'slug', 'playtime', 'released', 'rating', 'rating_top',
       'ratings_count', 'reviews_text_count', 'added', 'metacritic',
       'suggestions_count', 'updated', 'tags', 'reviews_count', 'genres',
       'yet', 'owned', 'beaten', 'toplay', 'dropped', 'playing'],
      dtype='object')

### Atribute adalah variabel yang berisi nama-nama dari kolom pada data frame akan digunakan untuk membuat dictionary.

### columns -> Berfungsi untuk melihat nama-nama kolom pada data frame.

In [12]:
dict = {
    'jumRecord' : len(df),
    'jumAtribute' : len(df.columns),
    'namaAtribute' : Atribute,
    'atrAngka' : len(df.select_dtypes(["int64","float64"]).columns),
}

### dict = {} -> adalah sebuah pendeklarasian dictionary dalam python.

### 1. 'jumRecord' -> sebuah key pada dictionary yang nanti akan digunakan untuk memanggil nilai di dictionary itu. Menyimpan nilai panjang record.
### 2. 'jumAtribute' -> sebuah key pada dictionary yang nanti akan digunakan untuk memanggil nilai di dictionary itu. Menyimpan nilai panjang kolom/atribute.
### 3. 'namaAtribute' -> sebuah key pada dictionary yang nanti akan digunakan untuk memanggil nilai di dictionary itu. Menyimpan nama-nama atribute.
### 4. 'atrAngka' -> sebuah key pada dictionary yang nanti akan digunakan untuk memanggil nilai di dictionary itu. Menyimpan jumlah atribute bertipe angka.

In [13]:
df2 = pd.DataFrame(dict)
df2

    jumRecord  jumAtribute        namaAtribute  atrAngka
0        1680           21          Unnamed: 0        16
1        1680           21                slug        16
2        1680           21            playtime        16
3        1680           21            released        16
4        1680           21              rating        16
5        1680           21          rating_top        16
6        1680           21       ratings_count        16
7        1680           21  reviews_text_count        16
8        1680           21               added        16
9        1680           21          metacritic        16
10       1680           21   suggestions_count        16
11       1680           21             updated        16
12       1680           21                tags        16
13       1680           21       reviews_count        16
14       1680           21              genres        16
15       1680           21                 yet        16
16       1680           21               owned        16
17       1680           21              beaten        16
18       1680           21              toplay        16
19       1680           21             dropped        16
20       1680           21             playing        16

### pd.DataFrame() -> Berfungsi untuk mengubah format sebuah data menjadi dataframe.

### df2 -> Berfungsi untuk menampilkan data dicionary kita yg sudah menjadi dataframe pandas.

In [14]:
df.loc[6:1680, 'rating':'playing']

,rating,rating_top,ratings_count,reviews_text_count,added,metacritic,suggestions_count,updated,tags,reviews_count,genres,yet,owned,beaten,toplay,dropped,playing
6,3.89,4,353,1,2705,77.0,464,2020-08-03T02:19:31,"Singleplayer, Для одного игрока",356,"Family, Platformer",129,2174,241,32,108,21
7,3.72,4,404,0,2630,77.0,638,2020-09-08T11:03:44,"Singleplayer, Для одного игрока",405,"Adventure, Action",203,1945,325,67,73,17
8,3.77,4,437,1,2598,76.0,484,2019-09-17T03:22:28,"Singleplayer, Для одного игрока",439,"Adventure, Action",135,1996,301,31,116,19
9,3.61,4,315,0,2532,75.0,332,2019-09-17T03:23:26,"Singleplayer, Для одного игрока",317,"Casual, Strategy",107,2075,149,18,172,11
10,4.12,4,525,4,2487,86.0,540,2020-08-03T02:19:58,"Singleplayer, Для одного игрока",529,"Family, Platformer",143,1696,401,44,174,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,0.00,0,0,0,0,NaN,456,2019-08-28T22:06:51,"Singleplayer, Приключение",0,"Adventure, Puzzle",0,0,0,0,0,0
1676,0.00,0,0,0,0,NaN,106,2019-01-09T12:41:06,NaN,0,NaN,0,0,0,0,0,0
1677,0.00,0,0,0,0,NaN,267,2019-01-09T12:41:06,"Golf, Multiplayer",0,NaN,0,0,0,0,0,0
1678,0.00,0,0,0,0,NaN,174,2019-01-09T12:41:06,NaN,0,NaN,0,0,0,0,0,0
1679,0.00,0,0,0,0,NaN,0,2019-03-22T02:25:11,"Education, Practical",0,NaN,0,0,0,0,0,0

### df.loc() -> digunakan untuk menyeleksi data dari baris satu ke baris lain dan dari kolom satu ke kolom lain. Dimana dalam kasus ini 6:1680 berarti menampilkan baris ke 6 sampai baris ke 1680, lalu 'rating':'playing' berarti menampilkan kolom rating sampai ke kolom playing.

In [15]:
df.iloc[6:1680, 4:21]

,rating,rating_top,ratings_count,reviews_text_count,added,metacritic,suggestions_count,updated,tags,reviews_count,genres,yet,owned,beaten,toplay,dropped,playing
6,3.89,4,353,1,2705,77.0,464,2020-08-03T02:19:31,"Singleplayer, Для одного игрока",356,"Family, Platformer",129,2174,241,32,108,21
7,3.72,4,404,0,2630,77.0,638,2020-09-08T11:03:44,"Singleplayer, Для одного игрока",405,"Adventure, Action",203,1945,325,67,73,17
8,3.77,4,437,1,2598,76.0,484,2019-09-17T03:22:28,"Singleplayer, Для одного игрока",439,"Adventure, Action",135,1996,301,31,116,19
9,3.61,4,315,0,2532,75.0,332,2019-09-17T03:23:26,"Singleplayer, Для одного игрока",317,"Casual, Strategy",107,2075,149,18,172,11
10,4.12,4,525,4,2487,86.0,540,2020-08-03T02:19:58,"Singleplayer, Для одного игрока",529,"Family, Platformer",143,1696,401,44,174,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,0.00,0,0,0,0,NaN,456,2019-08-28T22:06:51,"Singleplayer, Приключение",0,"Adventure, Puzzle",0,0,0,0,0,0
1676,0.00,0,0,0,0,NaN,106,2019-01-09T12:41:06,NaN,0,NaN,0,0,0,0,0,0
1677,0.00,0,0,0,0,NaN,267,2019-01-09T12:41:06,"Golf, Multiplayer",0,NaN,0,0,0,0,0,0
1678,0.00,0,0,0,0,NaN,174,2019-01-09T12:41:06,NaN,0,NaN,0,0,0,0,0,0
1679,0.00,0,0,0,0,NaN,0,2019-03-22T02:25:11,"Education, Practical",0,NaN,0,0,0,0,0,0

### iloc() -> Digunakan untuk menyeleksi data dari baris satu hingga satu baris sebelum baris lain dan antara kolom satu dengan satu kolom sebelum kolom lain. Konsepnya persis seperti index pada pada array.

In [16]:
df.select_dtypes("object").count()

slug        1680
released    1642
updated     1680
tags         956
genres       352
dtype: int64

### select_dtypes -> Berfungsi untuk memungkinkan kita menentukan tipe data dan memilih kolom yang cocok dengan tipe data yang kita tentukan.

### count() -> Berfungsi untuk memperoleh jumlah semua nilai di dalam setiap kolom dataframe.